/* Global reset and styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* Adjusted gap */
  padding: 20px; /* Added padding */
  max-width: 550px; /* Added max-width */
  margin: auto;
  margin-top: 50px;
  background-color: #dfdada;
  border-radius: 38px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
}

.text {
  color: goldenrod;
  font-size: 2rem; /* Adjusted font size */
  font-weight: 700;
}

.underLine {
  width: 61px;
  height: 6px;
  background-color: goldenrod;
  border-radius: 9px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; /* Added width */
  max-width: 480px; /* Added max-width */
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background: whitesmoke;
  border-radius: 6px;
}

.login-page-icon {
  font-size: 18px;
  margin: 0px 15px; /* Adjusted margin */
  color: goldenrod;
}

.input input {
  flex: 1; /* Added flex property */
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 1.1rem; /* Adjusted font size */
}

.forgot-password {
  margin-top: 20px; /* Adjusted margin */
  text-align: center;
  color: #797979;
  font-size: 1rem; /* Adjusted font size */
}

.submit-container {
  display: flex;
  flex-direction: column; /* Changed to column layout */
  gap: 20px; /* Adjusted gap */
  width: 100%; /* Added width */
  max-width: 480px; /* Added max-width */
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  color: #fff;
  background: goldenrod;
  border-radius: 50px;
  font-size: 1.1rem; /* Adjusted font size */
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}

.google-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjusted gap */
}

.btn-sign {
  display: flex;
  font-size: 1rem; /* Adjusted font size */
  background-color: rgb(234, 191, 82);
  border: none;
  outline: none;
  color: white;
  align-items: center;
  justify-content: center;
  height: 39px;
  border-radius: 18px;
  cursor: pointer;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .login-container {
    max-width: 90%; /* Adjusted max-width */
  }

  .text {
    font-size: 1.5rem; /* Adjusted font size */
  }

  .underLine {
    width: 40px; /* Adjusted width */
  }

  .input input {
    font-size: 1rem; /* Adjusted font size */
  }

  .forgot-password {
    font-size: 0.9rem; /* Adjusted font size */
  }

  .submit {
    font-size: 1rem; /* Adjusted font size */
  }

  .btn-sign {
    font-size: 0.9rem; /* Adjusted font size */
  }
}
