.cat-item {
  width: 20rem;
  cursor: pointer;
}

.item p {
  font-size: 16px;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.btn-category {
  outline: none;
  border: none;
  background-color: orange;
}

.cat-main {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
}

.cat-item {
  width: 100vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: azure;
}

.cat-product-items {
  width: 100vw;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.cat-popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: auto;
  overflow: hidden;
  margin-top: 30px;
  padding-bottom: 2rem;
}

.cat-image {
  width: 350px;
  height: 440px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.img-title {
  position: relative;
}

.title-name {
  position: absolute;
  top: 390px;
  /* left: 5px; */
  padding: 0.25rem 2rem;
  color: white;
  background-color: rgb(19, 19, 19);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cat-item:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

.button-shop {
  width: 350px;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem;
  background-color: #0af0f0;
  outline: none;
  border: none;
  cursor: pointer;
}
