.main {
  width: 20rem;
  height: auto;
  padding-bottom: 1.5rem;
}

.item {
  width: 20rem;
  height: auto;
  justify-content: space-evenly;
}

.item-price {
  display: flex;
  gap: 15px;
  color: #06cb24;
  font-size: 18px;
  font-weight: 500;
}

.item:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

.btn-addCart {
  background-color: #0af0f0;
  color: black;
  padding: 0.5rem;
  width: 350px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.btn-addCart:hover {
  transform: scale(1.01);
  /* transition: 0.7s; */
  cursor: pointer;
  background: linear-gradient(80deg, #05ed98, #35b4f4 100%);
  /* background-color: rgb(117, 238, 163); */
  transition: ease-out 0.3s;
}
