.main {
  width: 20rem;
  height: auto;
  padding-bottom: 1.5rem;
}

.item-price {
  display: flex;
  gap: 15px;
  color: rgb(47, 255, 47);
  font-size: 18px;
  font-weight: 500;
}

.item:hover {
  transform: scale(1.04);
  transition: 0.5s;
}
