.shop {
  background-color: rgba(207, 235, 238, 0.202);
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-content,
.faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.faq-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35rem;
}

.faqs-title {
  margin: 0 auto;
}

.faq-body-content {
  padding-left: 5.5rem;
  display: flex;
  flex-direction: column;
  width: 45rem;
  gap: 1rem;
  margin-top: 2rem;
}

hr {
  width: 45rem;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq-item:hover {
  /* background-color: var(--clr-lite-gray); */
  cursor: pointer;
}

/* .faq-question.active {
  color: black;
} */

.faq-body-content hr {
  border: 1px groove;
  width: 35rem;
}

.faq-question {
  /* margin-bottom: 1.5rem; */
  font-size: 12px;
  color: rgb(106, 106, 106);
  width: 35rem;
  display: flex;
  justify-content: space-between;
}

.faq-answer-body {
  width: 33rem;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, color 0.3s ease; /* Smooth transition for max-height and color */
}

.faq-answer {
  font-size: 12px;
  height: auto;
  color: rgb(106, 106, 106);
  margin-bottom: 0.5rem;
}

.faq-item.active .faq-answer-body {
  max-height: 300px;
  color: black;
}

.up-arrow {
  transition: transform 0.3s ease;
}

.faq-item.active .up-arrow {
  transform: rotate(180deg);
}

.social-contact {
  display: flex;
  justify-content: space-around;
}

.social-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.social-icon:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

.cart-page {
  margin-top: 88px;
}

.cart-items-title {
  padding: 0rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  color: grey;
  font-size: max(1vw, 12px);
}

.cart-items hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #e2e2e2;
  border: none;
}

.cart-items-title img {
  width: 70px;
  height: 70px;
}

.cart-items-item {
  margin: 10px 0px;
  color: black;
  align-items: center;
  justify-content: center;
}

.quantity {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn-quantity {
font-size: 20px;
}

.btn-quantity:hover{
  color: gray;
  cursor: pointer;
}

.delete {
  font-size: 20px;
  font-weight: 700;
  color: rgb(245, 19, 3);
}

.delete:hover{
  cursor: pointer;
  color: rgb(204, 4, 4);
}

.cart-amt {
  font-size: 18px;
  font-weight: 500;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
