@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Resetting default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting font-family for the entire document */
body {
  font-family: 'Poppins', sans-serif;
}

/* Define custom color variables */
:root {
  --clr-emerald: #10bd5e;
  --clr-light-green: #b6f099;
  --clr-dark-red: #cc1006;
  --clr-amber: #ffbe0bff;
  --clr-rose: #ff006eff;
  --clr-blue-violet: #8338ecff;
  --clr-azure: #3a86ffff;
  --clr-orange: #fb5607ff;
  --clr-folly: #ff0054ff;
  --clr-melon: #ffa69eff;
  --clr-lite-gray: #e9ecefff;
  --clr-dark-gray: #595959ff;
  --clr-dark-shadow: 0 30px 38px rgba(0, 0, 0, 0.302),
    0 15px 10px rgba(0, 0, 0, 0.22);
  --clr-light-shadow: 0 0px 0px rgba(0, 0, 0, 0.19),
    0 0px 0px rgba(0, 0, 0, 0.23);
}

/* Remove default bullet points from list items */
li {
  list-style: none;
}

/* Styling for navigation links */
.link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

/* Styling for navigation links on hover */
.link:hover {
  color: #ffd900;
}

/* Styling for logo */
.logo {
  width: 79px;
  height: 79px;
  align-items: center;
}

/* Styling for navigation container */
.nav-container {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--clr-light-shadow);
  background-color: #cc1006;
  position: fixed; /* Add this line */
  top: 0; /* Add this line to stick it to the top */
  width: 100%; /* Add this line to make it full width */
  z-index: 1000;
  transition: top 3s ease;
}

/* Styling for search container */
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 60px;
  border: none;
  border-radius: 8px;
  outline: none;
}

/* Styling for search input */
.search {
  width: 40vw;
  height: 2.5rem;
  border: none;
  background-color: #a3c0c65d;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
}

.search::placeholder {
  color: rgb(251, 180, 2);
}

/* Styling for search icons */
.search-icons {
  width: 1.5rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: rgb(244, 176, 2);
  background-color: #a3c0c65d;
}

/* Styling for profile icon */
.profile {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 38px;
  justify-content: center;
  align-items: center;
}

/* Styling for cart icon */
.cart {
  font-size: 2.5rem;
  font-weight: 900;
  position: static;
}

/* Styling for cart count */
.cart-count {
  display: inline-block;
  position: relative;
  bottom: 25px;
  left: -10px;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #ffd700;
  border-radius: 50%;
}

/* Styling for navigation menu container */
.nav-menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Styling for navigation menu items */
.nav-menu-1 {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

/* Styling for login button */
.btn-login {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 75px;
  outline: none;
  border: none;
  font-weight: 900;
  cursor: pointer;
}

/* Styling for login button on hover */
.btn-login:hover {
  color: #ffd900;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .logo {
    width: 68px;
    height: 68px;
  }

  .nav-container {
    flex-direction: column;
    height: auto;
  }

  .profile {
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-menu-1 {
    flex-direction: column;
    gap: 5px;
  }

  .btn-login {
    width: 2rem;
    height: 2rem;
  }

  .cart {
    margin-left: 20px;
    font-size: 2rem;
  }

  .link {
    font-size: 16px;
  }
}

/* Media query for 320px width */
@media screen and (max-width: 320px) {
  .logo {
    width: 68px;
    height: 68px;
  }

  .nav-container {
    padding: 5px;
  }

  .nav-menu-1 {
    flex-direction: column;
    gap: 5px;
  }

  .btn-login {
    width: 1.5rem;
    height: 1.5rem;
  }

  .cart {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 1.5rem;
  }

  .link {
    font-size: 14px;
  }

  .cart-count {
    width: 20px;
    height: 20px;
    font-size: 13px;
  }
}
