@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --clr-emerald: #10bd5e;
  --clr-light-green: #b6f099;
  --clr-dark-red: #cc1006;
  --clr-amber: #ffbe0bff;
  --clr-rose: #ff006eff;
  --clr-blue-violet: #8338ecff;
  --clr-azure: #3a86ffff;
  --clr-orange: #fb5607ff;
  --clr-folly: #ff0054ff;
  --clr-melon: #ffa69eff;
  --clr-lite-gray: #e9ecefff;
  --clr-dark-gray: #595959ff;
  --clr-dark-shadow: 0 30px 38px rgba(0, 0, 0, 0.302),
    0 15px 10px rgba(0, 0, 0, 0.22);
  --clr-light-shadow: 0 0px 0px rgba(0, 0, 0, 0.19),
    0 0px 0px rgba(0, 0, 0, 0.23);
}
li {
  list-style: none;
}

.link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #ffd900;
}

.logo {
  width: 79px;
  height: 79px;
  align-items: center;
}

.nav-container {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--clr-light-shadow);
  background-color: #cc1006;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 60px;
  border: none;
  /* border-bottom: 1px solid gray; */
  /* background-color: rgba(153, 213, 226, 0.364); */
  border-radius: 8px;
  outline: none;
  /* gap: 20px; */
  ::placeholder {
    color: white;
  }
}

.search {
  width: 40vw;
  height: 2.5rem;
  border: none;
  /* border-bottom: 1px solid gray; */
  background-color: #a3c0c65d;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  border: none;
}

.search-icons {
  width: 1.5rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #a3c0c65d;
}

.profile {
  position: absolute;
  top: 6px;
  right: 135px;
  font-size: 38px;
  justify-content: center;
  align-items: center;
}

.cart {
  font-size: 32px;
  font-weight: 900;
}

.nav-menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu-1 {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.btn-login {
  border-radius: 75px;
  outline: none;
  border: none;
  font-size: 38px;
  font-weight: 500;
  cursor: pointer;
}

.btn-login:hover {
  color: #ffd900;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-content,
.faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.faq-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35rem;
}

.faqs-title {
  margin: 0 auto;
}

.faq-body-content {
  padding-left: 5.5rem;
  display: flex;
  flex-direction: column;
  width: 45rem;
  gap: 1rem;
  margin-top: 2rem;
}

hr {
  width: 45rem;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq-item:hover {
  /* background-color: var(--clr-lite-gray); */
  cursor: pointer;
}

/* .faq-question.active {
  color: black;
} */

.faq-body-content hr {
  border: 1px groove;
  width: 35rem;
}

.faq-question {
  /* margin-bottom: 1.5rem; */
  font-size: 12px;
  color: rgb(106, 106, 106);
  width: 35rem;
  display: flex;
  justify-content: space-between;
}

.faq-answer-body {
  width: 33rem;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, color 0.3s ease; /* Smooth transition for max-height and color */
}

.faq-answer {
  font-size: 12px;
  height: auto;
  color: rgb(106, 106, 106);
  margin-bottom: 0.5rem;
}

.faq-item.active .faq-answer-body {
  max-height: 300px;
  color: black;
}

.up-arrow {
  transition: transform 0.3s ease;
}

.faq-item.active .up-arrow {
  transform: rotate(180deg);
}

.social-contact {
  display: flex;
  justify-content: space-around;
}

.social-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.social-icon:hover {
  transform: scale(1.04);
  transition: 0.5s;
}
