html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #cc1006;
  color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons {
  width: 2.5rem;
  height: 2.5rem;
  color: wheat;
}

.follow-us {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 50px;
}

.follow-us h5 {
  font-size: 18px;
  color: gold;
}

.footer-contact {
  display: flex;
  gap: 30px;
}

.footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: whitesmoke;
}

.footer-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #fed802;
}

.footer-link:hover {
  color: whitesmoke;
}

.footer-links {
  margin-top: 50px;
}

/* For 768px breakpoint */
@media only screen and (max-width: 768px) {
  .follow-us {
    justify-content: center;
    margin-right: 0;
    margin-top: 30px;
  }

  .footer-contact {
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
  }

  .footer-title {
    font-size: 24px;
  }
}

/* For 320px breakpoint */
@media only screen and (max-width: 320px) {
  .follow-us {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    gap: 5px;
  }

  .footer-title {
    font-size: 20px;
  }

  .footer-contact {
    gap: 10px;
  }
}
